/*General*/
/*body{color: #555; /*background: #fff; background-image: none; font-size:13px;}
.container-fluid{/*background: #fff; padding-bottom: 50px;}*/

.border{border:solid 1px #f00;}

input[type=text].datepicker{width: 110px;}

.row{margin: 0; }
label{width:100%}/*fix label position*/

.system-title{text-transform: uppercase;}

#flashSuccess
{
   display: inline-block;
   position: absolute;
   z-index: 100;
}

#flashError
{
   display: inline-block;
   position: absolute;
   z-index: 100;
}

#dvLoading
{
   background:url(../images/loading2.gif) no-repeat center center;
   height: 100px;
   width: 100px;
   position: fixed;
   z-index: 1000;
   left: 48%;
   top: 50%;
   margin: -25px 0 0 -25px;
}

#dvMessage
{
   height: 100px;
   width: 300px;
   position: fixed;
   z-index: 999;
   left: 40%;
   top: 70%;
   margin: -25px 0 0 -25px;
}

#screen
{
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
}

.erro {
    background:#FAD3C4;
    border:1px solid #A75B4E;
    border-radius:5px;
    color:#444444;
    font-size:15px;
    margin:0px 0px 0px 0px;
    padding:8px 8px;
    width:100%;
}

.info{
    background:#A2DBFA;
    border:1px solid #A75B4E;
    border-radius:5px;
    color:#444444;
    font-size:15px;
    margin:0px 0px 0px 0px;
    padding:8px 8px;
    width:100%;
}

.sucess{
    background:#5BF06A;
    border:1px solid #A75B4E;
    border-radius:5px;
    color:#444444;
    font-size:15px;
    margin:0px 0px 0px 0px;
    padding:8px 8px;
    width:100%;
}

fieldset{border-radius:5px;}


.fieldsetadm {
    height: 420px;
    border-radius: 10px;
    background: #eee;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
}

/*folha de ponto*/
.tablefolha{color: #555; background: #fff; background-image: none; font-size:12px;}

/*Uteis*/
.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }

/*Forms*/
form .form-control{ float: left; margin-right: 15px; margin-bottom: 20px; }
form .multifunc { float: left; margin-right: 0px; margin-bottom: 0px; }
form .trmultifun { font-size: 11px; }
form .thmultifun { font-size: 11px;}
form .benficios{width: 130px;}

form input[disabled=disabled]{ background: #ddd; }
form input, form select, form textarea{color: #555;}
form select{width: auto;}

input[type=text], input[type=password], input[type=file], select{background: #fff;}

/*Especific Fields*/
input[type=text]#equi_inspn2_mat{width: 400px;}
input[type=text]#projeto{width:100%; }

input[type=text]#funcionario{width:100%;}

/*Chosen costumizations*/
.chosen-container .chosen-container-single{margin-right: 5px !important;}
.chosen-container-multi .chosen-choices li.search-choice{padding: 10px 20px 10px 10px; width: 80%;}
.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container .chosen-drop{/*background: #bff2ff*/}
.chosen-container-single .chosen-single span{margin:5px;}
.chosen-container-single .chosen-single div b{margin-top: 8px; background-repeat: no-repeat; height: 50px; width: 15px;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{margin-top: 7px}
.chosen-container .chosen-results li.highlighted { background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(to bottom, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);}
.chosen-container-active .chosen-choices,
.chosen-container-single .chosen-single,
.chosen-container-active .chosen-choices,
.chosen-container-multi .chosen-choices,
.chosen-container-multi .chosen-choices li.search-field input[type=text]
{min-height: 40px !important; /*background: #bff2ff;*/}

/*Grid*/
.scroll{overflow: auto;}

/*Datatable*/
div.dataTables_length label{width:460px;float:left;text-align:left;}
div.dataTables_length select{width:75px;}
div.dataTables_filter label{float:left;width:460px;}
div.dataTables_info{padding-top:8px;}
/*div.dataTables_paginate{float:right;margin:0;}*/
/*table{clear:both;margin:1em 0;}*/

.dataTables_paginate{float: left;}


/*Table-rounded */
/*.table-rounded{border-collapse:separate;border:solid #ccc 1px;border-radius:6px;border-left:0}*/
/*.table-rounded td,.table-rounded th{border-left:1px solid #ccc;border-top:1px solid #ccc}
.table-rounded th{border-top:none}
.table-rounded th:first-child{border-radius:6px 0 0 0}
.table-rounded th:last-child{border-radius:0 6px 0 0}
.table-rounded th:only-child{border-radius:6px 6px 0 0}
.table-rounded tr:last-child td:first-child{border-radius:0 0 0 6px}
.table-rounded tr:last-child td:last-child{border-radius:0 0 6px 0}*/

.table-rounded {
    .border-radius( 5px );
}

input[type=radio] { 
margin: 0em 0em 0em 0; 
transform: scale(0.9, 0.9); 
-moz-transform: scale(0.9, 0.9); 
-ms-transform: scale(0.9, 0.9); 
-webkit-transform: scale(0.9, 0.9); 
-o-transform: scale(0.9, 0.9); 
}

/*------------------- beneficios checkboxes -------------------*/

input[type=checkbox].beneficio {
    display:none;
    height: 28px;
    width: 150px;
}
 
input[type=checkbox].beneficio + label {
    height: 28px;
    width: 150px;
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
 
input[type=checkbox].beneficio:checked + label {
    height: 28px;
    width: 150px;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color:#e0e0e0;
}


/*----------------------switch--------------------------*/

.onoffswitch {
    position: relative; width: 58px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #000000; border-radius: 13px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Sim";
    padding-left: 7px;
    background-color: #1687cb; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Não";
    padding-right: 7px;
    background-color: #c00d0d; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 10px; margin: 4px;
    background: #ECEBF5;
    border: 2px solid #000000; border-radius: 10px;
    position: absolute; top: 0; bottom: 0; right: 37px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.alert-group>.alert:first-child:not(:last-child){
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
       -moz-border-radius-topleft:5px;
       -moz-border-radius-topright:5px;
       -moz-border-radius-bottomright:0;
       -moz-border-radius-bottomleft:0;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
            border-bottom-right-radius:0;
            border-bottom-left-radius:0;
    margin-bottom:0
}
.alert-group>.alert:not(:first-child):not(:last-child){
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
    border-top:0;
    margin-bottom:0
}
.alert-group>.alert:last-child:not(:first-child){
    -webkit-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
       -moz-border-radius-topleft:0;
       -moz-border-radius-topright:0;
       -moz-border-radius-bottomright:5px;
       -moz-border-radius-bottomleft:5px;
            border-top-left-radius:0;
            border-top-right-radius:0;
            border-bottom-right-radius:5px;
            border-bottom-left-radius:5px;
    border-top:0
}

.page-alerts {
    margin-bottom: 20px;
}

.page-alerts .page-alert {
    border-radius: 0;
    margin-bottom: 0;
}

.datepicker{z-index:1151 !important;}

.modal-header-success {
    color:#ffffff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-danger {
    color:#ffffff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
   }

.modal-header-warning {
    color:#ffffff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}


