section {
  position: relative;
  padding-top: 27px;
}
section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:100%;
  box-shadow: 0 0 15px #333;
}
.container {
  overflow-y: auto;
  height: 400px;
  width:1850px;
}
table {
  border-spacing: 0;
}
td + td {
  border-left:1px solid #eee;
}
td, th {
  border-bottom:1px solid #eee;
  padding: 10px 10px;
}
th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: black;
  border: none;
  white-space: nowrap;
}
th div{
  position: absolute;
  background: transparent;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
}
th:first-child div{
  border: none;
}