html{width:100%;height:100%;background:url(images/bg.jpg) repeat #a3a4a6;}
body {background:url(images/top_bg.jpg) no-repeat top center;margin:0px auto;padding:0px;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#423932;width:100%;height:100%;}
a{color:#0B77BD;text-decoration:none;outline:none;}
.clear{clear:both;}
.clear_left{clear:both;float:left; height:15px;}
p{padding:0px;margin:0px;line-height:21px;text-align:left;}
blockquote{color:#247495; padding:0 0 0 10px; border-left: 2px #ddd solid; margin:0px 0 10px 0;}
img.left_pic{ float:left; padding:5px 15px 0px 0;border:none;}
/*---------------------starting main container and general style-----------------------*/
/*#main_container{height:100%;margin:auto;position:relative;}*/
#main_container{position: absolute;left:0px; margin-top: 60px; min-width: 100% }

.logo{width:220px; margin:auto; height:192px;}
/*.header{text-align:center;height:67px;line-height:55px;color:#FFFFFF; background:url(images/header_bg.png) repeat-x top;}*/
a.left_bt{float:left;color:#FFFFFF; width:67px; height:43px; text-align:center; background:url(images/left_bt.png) no-repeat center; line-height:43px; font-size:14px; font-weight:bold; margin:4px 0 0 4px; text-shadow:1px 1px #085C8F;}
a.right_bt{float:right;color:#FFFFFF;margin:4px 4px 0 0; }
a.left_nav{float:left;color:#FFFFFF; width:67px; height:43px; text-align:center; background:url(images/left_bt.png) no-repeat center; line-height:43px; font-size:14px; font-weight:bold; margin:0px 0 10px 0;text-shadow:1px 1px #085C8F;}
a.right_nav{float:right;color:#FFFFFF; width:67px; height:43px; text-align:center; background:url(images/left_bt.png) no-repeat center; line-height:43px; font-size:14px; font-weight:bold; margin:0px 0 10px 0;text-shadow:1px 1px #085C8F;}
h1{padding:0px; margin:0px;}
h1 a{color:#FFFFFF; font-size:22px; text-shadow:1px 1px #000; text-decoration:none;}
.header span{color:#FFFFFF; font-size:20px; text-shadow:1px 1px #085C8F; text-decoration:none; padding:0 10px 0 0; font-weight:normal; margin:0px;}
h3{padding:15px 10px 10px 0px; margin:0px;font-size:20px; font-weight:normal; text-decoration:none;color:#5e4934;}
h4{padding:20px 10px 10px 0px; margin:0px;font-size:16px; font-weight:bold; text-decoration:none;color:#757575;}
h5{padding:10px 10px 10px 0px; margin:0px;font-size:14px; font-weight:bold; text-decoration:none;color:#5e4934;}
h6{padding:0 10px 5px 0px; margin:0px;font-size:14px; font-weight:bold; text-decoration:none;color:#AFEAFF;}
/*----------------------menu-------------------------*/
.menu{padding:25px 0px 0px 0;text-align:center;}
.menu ul{padding-top:0px;list-style:none;padding:0px;margin:0px;display:inline;line-height:30px;}
.menu ul li{list-style:none;display:inline-block;width:100px; height:125px; margin:6px 6px 6px 6px; background:url(images/icon_bg.png) no-repeat center top;}
.menu ul li a{ font-size:14px; font-weight:bold; color:#302f2f; text-decoration:none; text-shadow:1px 1px #dcdcdc;}
.menu ul li a img{padding:0px; width:85px; height:85px;}
/*---------------------content style-----------------*/
.content{padding:5px 8px 50px 8px;}
.corner_wrap{-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px; background:url(images/box_wrap_bottom.jpg) no-repeat center bottom #FFFFFF; width:100%; text-align:left; margin:0px;}
.shadow_wrap{ width:100%; margin:auto; background:url(images/box_wrap_shadow.png) no-repeat center top; height:6px;}
.date{width:68px; height:45px;float:left; margin:12px 12px 10px 10px;}
span.day{ font-size:36px;color:#7b7b7b; width:43px; text-align:center; float:left; font-weight:bold; line-height:30px;}
span.year{ font-size:14px; font-weight:bold;color:#c6c6c6; width:43px; text-align:center; float:left; line-height:14px;}
span.month{ width:24px; height:43px; float:right;}
.corner_wrap h2{ padding:17px 15px 15px 0px; margin:0px;font-size:14px; font-weight:bold; text-decoration:none;color:#5e4934;}
.corner_wrap h2 a{ font-size:14px; font-weight:bold; text-decoration:none;color:#5e4934;}
.corner_wrap h2 a:hover, .corner_wrap h2 a:focus{ color:#0B77BD;}
.entry{clear:both;padding:10px 10px 20px 10px;}
.entry img{max-width: 100%; margin:0 0 10px 0;}
.entry ul{padding:0px 0 10px 10px; margin:0px; list-style:none;}
.entry ul li{padding:2px 0 2px 16px; margin:0px; background:url(images/bullet.gif) no-repeat left;}
img.photo{margin:5px 0 0 10px;border:2px #ddd solid;}
a.button{width:100%;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;background:url(images/box_top_bg.jpg) no-repeat center top #3F3F3F;margin:15px 0 10px 0;color:#FFFFFF;
display:block; text-align:center; padding:12px 0 12px 0; font-size:18px; font-weight:normal;text-shadow:1px 1px #000;}
.post_details{ clear:both; background-color:#0B77BD; margin:5px 10px 10px 10px; padding:7px 0 7px 5px; color:#FFFFFF; font-size:12px;}
.post_details a{ font-weight:bold;color:#FFFFFF; font-size:14px;}
.comment{padding:0 10px 20px 10px;}
.comment span a{ display:block; font-style:normal; text-decoration:underline; color:#0B77BD;}
.services_content{-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;background-color:#292D2F;margin:0px;color:#FFFFFF; padding:15px 10px 15px 10px; margin:0 0 10px 0;}
.services_content a{color:#AFEAFF; text-decoration:underline;}
.contact_info{ padding:10px 0 15px 0;}
/*-------------------------sliding from top boxes---------------------------------*/
.box{position:absolute;top:-700px;width:94%;color:#7F7F7F;margin-left:20px;;padding:0;z-index:999999;text-align:center;}

.box_transparente{position:absolute;top:-400px;width:94%;background:url(images/img_box_transparente_bg.png) repeat;margin-left:20px;padding:0;z-index:999999;text-align:center;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;-khtml-border-bottom-left-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;-khtml-border-bottom-right-radius:8px;
-moz-border-radius-topleft:8px;-webkit-border-top-left-radius:8px;-khtml-border-top-left-radius:8px;
-moz-border-radius-topright:8px;-webkit-border-top-right-radius:8px;-khtml-border-top-right-radius:8px;
border-bottom:1px #595959 solid; padding:2px 0 2px 0;}

.box_content_center{background-color:#3F3F3F;margin:0 8px 0 8px;color:#FFFFFF;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;-khtml-border-bottom-left-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;-khtml-border-bottom-right-radius:8px;
}
.box_content_center_transparente{margin:0 8px 0 8px;color:#FFFFFF;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;-khtml-border-bottom-left-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;-khtml-border-bottom-right-radius:8px;
}
.box_content_tab{background-color:#171717;margin:0 8px 0 8px;color:#FFFFFF; text-align:center;
-moz-border-radius-topleft:8px;-webkit-border-top-left-radius:8px;-khtml-border-top-left-radius:8px;
-moz-border-radius-topright:8px;-webkit-border-top-right-radius:8px;-khtml-border-top-right-radius:8px;
border-bottom:1px #595959 solid; padding:12px 0 12px 0; font-size:18px;
}
a.boxclose{cursor:pointer;color:#FFFFFF; width:67px; height:43px;background:url(images/close_bt.png) no-repeat center; line-height:43px; font-size:14px; font-weight:bold; margin:20px 0px 20px 0; text-align:center;
display:block; float:right;text-shadow:1px 1px #085C8F;}
a.boxclose_right{cursor:pointer;color:#FFFFFF; width:67px; height:43px;background:url(images/close_bt.png) no-repeat center; line-height:43px; font-size:14px; font-weight:bold; margin:20px 25px 20px 0; text-align:center;
display:block; float:right;text-shadow:1px 1px #085C8F;}
.form_content{padding:20px 15px 10px 15px; text-align:left;}
.form_content label{ font-size:16px; font-weight:bold;line-height:28px;}
input.form_input{width:100%;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px; background-color:#c8e2f1; height:30px; border:1px #08628F solid; color:#000000;}
input.form_input_box{width:100%;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px; background-color:#6F6F6F; height:32px; border:1px #808080 solid; color:#fff;}
textarea.form_textarea{width:100%;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px; background-color:#c8e2f1; height:80px; border:1px #08628F solid; color:#000000;}
input.form_submit{cursor:pointer;color:#FFFFFF; width:67px; height:43px;background:url(images/left_bt.png) no-repeat center; border:none; line-height:43px; font-size:14px; font-weight:bold; margin:20px 15px 20px 0;display:block; float:right;text-shadow:1px 1px #085C8F; font-family:Arial, Helvetica, sans-serif;}
.marca_ponto{cursor:pointer;color:#FFFFFF; width:150px; height:33px;background:url(images/bt_marca_ponto.png) no-repeat center; border:none; line-height:33px; font-size:12px; font-weight:bold; margin:0px 0px 0px 0;text-shadow:1px 1px #085C8F; font-family:Arial, Helvetica, sans-serif;}
input.form_submit_right{cursor:pointer;color:#FFFFFF; width:67px; height:43px;background:url(images/left_bt.png) no-repeat center; border:none; line-height:43px; font-size:14px; font-weight:bold; margin:20px 0px 20px 0;display:block; float:right;text-shadow:1px 1px #085C8F; font-family:Arial, Helvetica, sans-serif;}
.box_content h3{font-size:22px; font-weight:normal; padding:15px 0 10px 0; margin:0px;color:#FFFFFF;text-shadow:1px 1px #085C8F;}
/*------------social icons------------------*/
.social_share{width:100%;text-align:center;padding:15px 0 0 0;}
.social_share ul{ padding:0px; margin:0px; list-style:none; display:inline-block;}
.social_share ul li{ padding:0px; margin:10px 8px 15px 8px;display:inline-block;}
/*-----------categories toggle-------------------*/
.toogle_wrap{width:100%;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;background:url(images/box_wrap_bottom.jpg) no-repeat center bottom #FFFFFF;margin:0px 0 0 0;color:#636363;}
.trigger{padding:5px 0 6px 10px;margin:0;background:url(images/toggle_open.gif) no-repeat left;background-position:7px 7px;}
.trigger a{color: #636363;text-decoration: none;display: block;padding:6px 0 6px 40px;font-size:18px;}
.active {background:url(images/toggle_close.gif) no-repeat left;background-position:7px 7px;}
.trigger a:hover, .trigger a:hover:focus{color:#0B77BD;}
.toggle_container{overflow: hidden;padding:10px;clear: both;}
.toggle_container ul{ padding:0; margin:0px; list-style:none;}
.toggle_container ul li a{ text-decoration:none; color:#FFFFFF; font-size:14px; font-weight:bold; padding:0 0 0 10px;}
.toggle_container ul li a:hover, .toggle_container ul li a:focus{color:#c7edff;}
/*------------gallery------------------------------*/
span#description{text-shadow:1px 1px 1px #000;display:none;}
span#loading{position:absolute;width:100%; height:50px;text-align:center;left:0px; top:165px;background:#000;color:#FFFFFF;padding:0px; line-height:50px; display:none;}
#thumbsWrapper{width:100%;}
#content{display:none;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;background:url(images/box_top_bg.jpg) no-repeat center top #3F3F3F;text-align:center;padding:10px 0 10px 0;margin:0px;}
#content img{margin:8px;cursor:pointer;}
.placeholder{float:left;clear:both;width:100%;height:30px;}
#panel{width:100%;position:fixed;bottom:0px;left:0px;right:0px;height:0px;top:65px;text-align:center; }
#panel img{cursor:pointer;position:relative;display:none;-moz-box-shadow:0px 0px 10px #111;-webkit-box-shadow:0px 0px 10px #111;box-shadow:0px 0px 10px #111;}
#wrapper{position:relative;margin:0px auto 0px auto;}
a#next, a#prev{width:51px;height:178px;position:fixed;cursor:pointer;outline:none;display:none;z-index:999999;}
a#next{right:0px;top:50%;margin-top:-100px;background:url(images/right_nav_a.png) no-repeat center;}
a#prev{left:0px;top:50%;margin-top:-100px;background:url(images/left_nav_a.png) no-repeat center;}
/*-------------------footer-----------------------*/

#footer {
 position:fixed; left:0px; margin-top:10px; bottom:0px; height:50px; width:100%; clear:both; text-align:center; z-index: 26; background:url(images/footer_bg.jpg) repeat-x center;color:#FFFFFF;
}


/* IE 6 */

* html #footer { position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
#footer span{color:#FFFFFF; font-size:12px; text-shadow:1px 1px #085C8F; text-decoration:none; padding:0 10px 0 0; line-height:50px;}

/*-------------------header-----------------------*/

#header {
 position: fixed; left:0px; margin-top: 0px; height:67px; width:100%; clear:both; text-align:center; z-index: 26; background:url(images/header_bg.png) repeat-x center;color:#FFFFFF;
}


/* IE 6 */

* html #header { position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
#header span{color:#FFFFFF; font-size:12px; text-shadow:1px 1px #085C8F; text-decoration:none; padding:0 10px 0 0; line-height:50px;}


/*-----------ESTILO RELATORIO TABELAS ---------------*/
.zebra tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;

}
.zebra td, .zebra th {
    padding: 10px 20px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-bottom: 1px solid #efefef; 
    font-size: 9pt; 
}

.zebra tbody tr:nth-child(even) {
    background: #efefef;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
}

.zebra th {
    text-align: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image:      -o-linear-gradient(top, #f5f5f5, #eee); 
    background-image:         linear-gradient(top, #f5f5f5, #eee);
    background-image: url(images/img_tabela_bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
	
}
.zebra th:hover {cursor: hand; cursor: pointer;}

.zebra th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;  
	
}

.zebra th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
    
}

.zebra th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;  
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px
    border-radius: 0 0 6px 6px
}
/*-----------ESTILO RELATORIO TABELA GO ---------------*/


.zebra2 td, .zebra2 th {
    padding: 2px;
    text-align: center;
    font-size: 9,5pt;
}

.zebra2 tbody tr:nth-child(even) {
    background: #efefef;
    text-align: center;
}

.total {

    border-bottom-style: solid;
    border-bottom-width: 1px; 
    text-align: center;
}

.zebra2 th {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image:      -o-linear-gradient(top, #f5f5f5, #eee); 
    background-image:         linear-gradient(top, #f5f5f5, #eee);
    font-size: 11px;
	
}
.zebra2 th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;  
    text-align: center;
   
}

.zebra2 th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
   text-align: center;
}

.zebra2 th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
text-align: center;
}


/*-----------ESTILO RELATORIO RADIOGRAFIA ---------------*/

.zebra3 td, .zebra3 th {
    padding: 0px;
    text-align: center;
    font-size: 8pt;
    border: 1px solid #ccc;
}

.zebra3 tbody tr:nth-child(even) {
    background: #efefef;
    text-align: center;
}

.total {

    border-bottom-style: solid;
    border-bottom-width: 1px; 
    text-align: center;
}

.zebra3 th {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image:      -o-linear-gradient(top, #f5f5f5, #eee); 
    background-image:         linear-gradient(top, #f5f5f5, #eee);
    font-size: 9px;
	
}
.zebra3 th:first-child {
    text-align: center;
   
}

.zebra3 th:last-child {
   text-align: center;
}

.zebra3 th:only-child{
   text-align: center;
}




/*-----------ESTILO dos CAMPOS ---------------*/

input, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
	padding: 0 10px;
	color: #000;
	background: #bff2ff;
	border: 0;
	letter-spacing: 1px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	margin: 2px;
}
input[type=text], input[type=password], input[type=file], select {
	padding: 10px 10px;
	height: 40px;
	color: #000;
	background: #bff2ff;
	border: 0;
	letter-spacing: 1px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	margin: 2px;
}

input[type=text]:focus, input[type=password]:focus, input[type=file]:focus {
  color: #000;
  background: #bbf885;
  outline: 0;
}
textarea:focus {
  color: #000;
  background: #bbf885;
  outline: 0;
}
.nome_input{
	display: block;
	margin: 12px 0 0;
	font-weight:700;
	font-size: 14px;
	float:left;
	clear:left;
	width: 120px;
}
.input_informacao {
	padding: 0 5px !important;
	height: 30px !important;
	color: #000;
	border: 0;
	background: #efefef !important;
	letter-spacing: 1px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	margin: 2px;
}
.input_cadastrar {
	width:170px;
	background:#09C;
	color:#fff;
	font-family: Tahoma, Geneva, sans-serif;
	height:40px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1p solid #999;
}
.input_cadastrar:hover {
	background:#cecece;
	color:#09C;

}


/*-----------MARCA DAGUA ---------------*/
#marcadagua {
bottom:0px; margin:auto; height:273px; width:346px;
}






.asc{
	background-image: url(images/img_tabela_bg.gif);
	background-repeat: no-repeat;
	background-position: center right;

}
.desc{
	background-image: url(images/img_tabela_desc.gif);
	background-repeat: no-repeat;
	background-position: center right;

}

.error_box {
    background:#FAD3C4;
    border:1px solid #A75B4E;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    color:#444444;
    display:none;
    font-size:13px;
    margin:0px 0px 0px 0px;
    padding:8px 8px;
    width:96%;
}

.success_box {
    background:#E2F1BB;
    border:1px solid #598800;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    color:#000000;
    display:none;
    font-size:13px;
    margin:0px 0px 0px 0px;
    padding:8px 8px;
    width: 96%;
}


/*---------- IMPRESSAO  -------------*/

.etiqueta{font-family:Arial, Helvetica, sans-serif;font-size:7.5px;}
.capa{font-family:Arial, Helvetica, sans-serif;font-size:9px;}
.identificacao{font-family:Arial, Helvetica, sans-serif;font-size:16px;}
.bordaredonda {margin:2px 30px 0 0;color:#000;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;-khtml-border-bottom-left-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;-khtml-border-bottom-right-radius:8px;
}
.cabecalho_relatorio *{
font-family: Arial, Helvetica, sans-serif;
font-size: 11px !important;
}
.legenda_relatorio *{
font-family: Arial, Helvetica, sans-serif;
font-size:8px !important;
}
.rodape_relatorio *{
font-family: Arial, Helvetica, sans-serif;
font-size:12px !important;
}



.checkbox_redondo{
	width: 35px;
	height: 35px;
	background: #ddd;
	margin: 5px 5px;

	border-radius: 100%;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.checkbox_redondo label {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 100px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;

	background: #333;

	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkbox_redondo input[type=checkbox]:checked + label{
	background: #26ca28;
}

.select_cliente {
	padding: 10px 10px;
	height: 40px;
	width: 450px;
	color: #000;
	background: #bff2ff;
	border: 0;
	letter-spacing: 1px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	margin: 2px;
}
.select_norma {
	padding: 10px 10px;
	height: 40px;
	width: 150px;
	color: #000;
	background: #bff2ff;
	border: 0;
	letter-spacing: 1px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	margin: 2px;
}
.select_funcionario {
	padding: 10px 10px;
	height: 40px;
	width: 300px;
	color: #000;
	background: #bff2ff;
	border: 0;
	letter-spacing: 1px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	margin: 2px;
}
.select_laudo {
	padding: 10px 10px;
	height: 40px;
	width: 100px;
	color: #000;
	background: #bff2ff;
	border: 0;
	letter-spacing: 1px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	margin: 2px;
}
